body {
   margin: 0px;
   height: 100%;
   background-image: url(/shopping-cart/images/bg.jpg);
   background-size: cover;
   background-repeat:no-repeat;

   
}
.arranged-div{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin-top: 30px;
}



.title-sec h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 66px;
     
}

.main-sec{
    height: 650px;
    width: 1100px;
    background-color: rgb(204, 204, 204);
    margin-left: auto;
    margin-right: auto;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    opacity: 0.9;
    display: flex;
    justify-content: center;
}
.div-parent{
   height: 180px;
   width: 1000px;
   background-color: antiquewhite;
   display: flex;
   align-items: center;
   justify-content: space-around;
   border-radius:9px ;
   -webkit-border-radius:9px ;
   -moz-border-radius:9px ;
   -ms-border-radius:9px ;
   -o-border-radius:9px ;
   opacity: 1;

}

.mobile-image img{
 width: 150px;
}

.baki{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 0px;
}
.button-sec{
    display: flex;
    align-items: baseline;
   
}

.first-sec{
    display: flex;
    align-items: center;
    margin-right: 80px;
}

.title h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 26px;
}
.button-sec button{
  
    height: 40px;
}
.hele img{
    margin-left: 30px;
}
.input-class{
    width: 25px;
    height: 34px;
}

.left h3{
  font-family:cursive;
}
.right h3{
  font-family:cursive;
}
.btn button{
     padding-left: 33px;
     padding-right: 33px;
     padding-top: 12px;
     padding-bottom: 12px;
     border-radius:5px ;
     background-image: radial-gradient( rgb(2, 192, 2), rgb(0, 121, 0));
     -webkit-border-radius:6px ;
     -moz-border-radius:5px ;
     -ms-border-radius:5px ;
     -o-border-radius:5px ;
     color: antiquewhite;
     border: 0px;
     font-size: 16px;
     cursor: pointer;
    
}
.btn button:hover{
    background-image:radial-gradient(rgb(33, 209, 77), rgb(69, 189, 0)) ;
}
.btn{
display: flex;
justify-content:center;
margin-top: 10px;


}

@media screen {
    
}
